@font-face {
  src: url("../font/Nexa Bold.otf") format("woff2");
  font-family: "Nexa-Bold";
  font-weight: 100; }

@font-face {
  src: url("../font/Nexa Light.otf") format("woff2");
  font-family: "Nexa-Light";
  font-weight: 100; }

@media (min-width: 1025px) {
  h1 {
    font-family: "Nexa-Bold"; } }

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem; } }

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    color: #151e3b;
    font-family: "Nexa-Bold"; }
  p {
    color: #151e3b;
    font-family: "Nexa-Light";
    line-height: 1.3; }
  h2 {
    color: #151e3b;
    font-family: "Nexa-Bold";
    font-size: 1.5rem;
    line-height: 2.5; }
  input {
    font-family: "Nexa-Light"; }
  button {
    font-family: "Nexa-Light"; }
  .button-section2 {
    width: 90%;
    height: 3rem;
    text-align: left;
    font-family: "Nexa-Bold";
    color: #151e3b;
    border: 2px solid #151e3b;
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffff;
    cursor: pointer; }
  .button-section2-span {
    color: #72b5d2; }
  .button2 {
    width: 90%;
    height: 3rem;
    text-align: left;
    font-family: "Nexa-Bold";
    color: #d9d9d9;
    border: 1px solid #151e3b;
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffff;
    cursor: pointer; }
  .section3-h2 {
    color: #ffffff; }
  .sec3-div1 {
    background-color: #151e3b; }
  h4 {
    color: #93bede;
    font-family: "Nexa-Bold";
    font-size: 20px;
    line-height: 1.5; }
  .sec3-images {
    background-color: #151e3b; }
  .image {
    background-color: #ffffff; } }

.photo-text {
  background-color: #00000085; }
  .photo-text h4 {
    color: #ffffff;
    margin-left: 5%; }
  .photo-text p {
    color: #ffffff;
    margin-left: 5%; }

.section-5 {
  background-color: #d2d2d2; }

.section5-card {
  background-color: #ffffff;
  font-family: "Nexa-Bold";
  color: #6f6060;
  border-radius: 20px; }
  .section5-card img {
    width: 80%;
    height: 80%; }

.section-6 {
  background-color: #93bede; }
  .section-6 h2 {
    color: #ffffff; }
  .section-6 button {
    padding: 3%;
    background-color: #0173b2;
    color: #ffffff;
    border: none; }
