
$black: #000000;
$white:#ffffff;
$lightBlue:#93bede;
$darkBlue:#151e3b;
$spancolor:#72b5d2;
$buttoncolor:#d9d9d9;
$imageback:#00000085;
$lightgray:#d2d2d2;
$darkgray:#6f6060;
$lightbluebutton:#0173b2;





